h1 {
    text-align: center;
    color: blue;
}
img {
    float: left;
    margin: 5px 50px 10px 10px;
}
.clearfix {
    overflow: auto;
    display: -webkit-flex;
    display:         flex;
     -webkit-align-items: center;
          align-items: center;
     -webkit-justify-content: center;
          justify-content: center;
  }
.educacion {
    clear: left;
}

h2 {
    text-align: center;
    color: cornflowerblue;
}